body{
  position: static;
  z-index: 1;
  background: #00021a;
  color: #fff;
  justify-content: center;
  align-items: center;
}
div, .temp, .citytime{
  font-size: 1em;
}
input[type="checkbox"]{
  display: none;
}
header{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 100vw;
  background: #0a5000;
}
header .menu, img{
  flex: 1;
  margin: auto;
}
header .type{
  flex: 2;
}
.menu{
  padding-left: 3%;
}
.toggle{
  display: inline-block;
  background: none;
  padding: 0;
  border: 0;
  cursor: pointer;
  border-bottom: 5px solid #fff;
  width: 70%;
  transition: border-bottom 0.6s ease-in-out;
}
.toggle:before{
  display: block;
  content: "";
  border-bottom: 5px solid #fff;
  width: 100%;
  margin-bottom: 12%;
  transition: transform 0.5s ease-in;
}
.toggle:after{
  display: block;
  content: "";
  border-bottom: 5px solid #fff;
  margin-bottom: 12%;
  transition: transform 0.5s ease-in;
}
header img{
  height: 5%;
}
.type{
  height: 5%;
  font-size: 1em;
  padding-top: 1%;
}
.typelabel:before{
  content: "Current weather🔁";
}

#msgBox{
  text-align: center;
  font-size: 1.3em;
  animation: message 5s ease-in;
}
#optionText{
  background: #000;
  position: absolute;
  left: 0;
  top: auto;
  text-align: center;
  z-index: 3;
}
#help{
  display: none;
  width: 80vw;
  height: 100vh;
}
#about{
  display: none;
  width: 80vw;
  height: 100vh;
}
#contact{
  display: none;
  width: 80vw;
  height: 100vh;
}
.head{
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
.head div{
  background: #000;
  flex: 1;
  font-size: 3em;
  border: 1px solid #447;
}
.head p{
  flex: 2;
}
#messg{
  visibility: hidden;
  color: #000;
  width: auto;
  position: fixed;
  padding: 1em;
  bottom: 20vh;
  border-radius: 1.5em;
  animation: message 5s ease-in;
  animation-fill-mode: forwards;
}
.currentWther{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.search{
  background: #fff;
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
  margin: auto;
}

.search input{
  width: 80%;
  padding: 1em 0;
  font-size: 1em;
  margin-right: none;
  border: none;
  letter-spacing: 0.15em;
  color: #66f;
}
.search img{
  width: 5%;
  margin-left: none;
  padding: 0.1em 0;
}
#cs,#cc,#fms,#fmc,#fhs,#fhc,#fds,#fdc{
  display: none;
}
.citytime{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 2.5em;
}
.city{
  flex: 1;
}
.time{
  flex: 1;
}

.data{
  margin-left: 1.5em;
  margin-top: 2em;
  margin-bottom: 4em;
  font-size: 1em;
}

.sun{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.rise, .set{
  flex: 1;
}
.temp{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.temp *{
  flex: 1;
}


#options{
  position: fixed;
  z-index: 2;
  top: 5.2em;
  left: -150vw;
  transition: left 2s ease-in-out;
  background: rgb(0, 0, 0, 0.9);
  height: 100vh;
  width: 75vw;
  text-align: center;
  font-family: "Libre Baskerville" serif;
}
#options div{
  border: 1px solid #447;
  margin: 1px 0;
  padding: 1.5em 2em;
}
footer{
  position: fixed;
  width: 100%;
  bottom: 0;
  background: #0a5000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
footer .words{
  flex: 3.5;
}
footer a{
  text-align: center;
  text-decoration: none;
  background: #000;
  flex: 0.5;
  padding: 1em;
  border-radius: 50%;
  margin: 1px;
}

#forecast{
  display: none;
}

.fSearch{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.Search{
  background: #fff;
  flex: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 2px solid #fff;
  border-radius: 5%;
}
.Search input{
  width: 100%;
  font-size: 1em;
  word-spacing: 0.15em;
  color: #66f;
  border: none;
  padding: 0.5em;
}
.Search img{
  width: 20%;
}
.typetoggle{
  flex: 1;
  padding-left: 6%;
}

#min{
  margin-bottom: 4em;
  display: block;
}
.datum{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.param{
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.mindata{
  flex: 2;
  display: flex;
  flex-direction: row;
  overflow: auto;
}
.mindata div{
  border-right: 1px solid #447;
  text-align: center;
  padding: 0.5em;
}

#hour{
  display: none;
}
.fTemp{
  margin-left: 3.5em;
}
.flipdata{
  display: flex;
  flex-direction: row;
  overflow: auto;
  margin-bottom: 5em;
  border: 2px solid #669;
  border-radius: 10%;
}
.individual{
  flex: 1;
  padding: 0.5em;
  margin: 0 1em;
  border-right: 2px solid #447;
  width: auto;
}
.setwidth div div:first-child{
  margin-right: 6em;
}

#daily{
  display: none;
  margin-bottom: 6em;
}

.dailytemp{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
}

.dailytemp div{
  flex: 1;
}
.dtemps{
  flex: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-left: 7em;
}

.dtemps div{
  margin: 0 0.5em;
}
.data .citytime{
  margin-bottom: 1em;
}

#toggle:checked ~ .toggle {
  border-bottom: 5px solid transparent;
  transition: border-bottom 0.6s ease-in-out;
}
#toggle:checked ~ .toggle:before {
  transform: rotate(405deg) translateY(320%) translateX(15%);
  transition: transform 0.4s ease-in-out;
}
#toggle:checked ~ .toggle:after{
  transform: rotate(-405deg) translateX(-15%);
  transition: transform 0.4s ease-in-out;
}

#type:checked ~ .typelabel:before{
  content: "Weather forecast🔁";
}
.search img:active{
  background: #000;
}
h1{
  font-size: 1.5em;
}
select{
  background: #fff;
  height: 100%;
}
.typetoggle{
  height: 2.5em;
}
span{
  color: #f77;
}
a{
  color: #cff;
}
#options div a{
  color: #fff;
  text-decoration: none;
  padding: inherit;
}
@keyframes message{
  0%{
    background: rgba(255,255,255,0.8);
    visibility: visible;
  }
  100%{
    background: transparent;
    visibility: hidden;
  }
}

@media screen and (min-width: 600px){
  #toggle:checked ~ .toggle:before {
    transform: rotate(405deg) translateY(320%) translateX(15%);
    transition: transform 0.4s ease-in-out;
  }
  #toggle:checked ~ .toggle:after{
    transform: rotate(-405deg) translateX(-10%);
    transition: transform 0.4s ease-in-out;
  }
  #options{
    top: 10em;
  }
  .type{
    font-size: 2em;
  }
}